<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Tracking App</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav>
        <a href="{{ url_for('home') }}">Home</a> | 
        <a href="{{ url_for('user_view', user_id=1) }}">User View</a>  <!-- Adjust the user_id as necessary -->
    </nav>

    {% block content %}
    <!-- This space will be filled by child templates -->
    {% endblock %}
</body>
</html>
