{% extends "base.html" %}

{% block content %}
    <h1>Home</h1>

    <h2>Add Team</h2>
    <form method="POST" action="{{ url_for('add_team') }}">
        {{ team_form.hidden_tag() }}
        {{ team_form.team_name.label }} {{ team_form.team_name() }}
        {{ team_form.submit() }}
    </form>

    <h2>Add Project</h2>
    <form method="POST" action="{{ url_for('add_project') }}">
        {{ project_form.hidden_tag() }}
        {{ project_form.project_name.label }} {{ project_form.project_name() }}
        {{ project_form.description.label }} {{ project_form.description() }}
        {{ project_form.completed.label }} {{ project_form.completed() }}
        {{ project_form.team_id.label }} {{ project_form.team_id() }}
        {{ project_form.submit() }}
    </form>
{% endblock %}